
body {
    overflow: hidden;
    margin: 0 auto;
    font-size: 1em;
}

.flex_layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
}



.flex_layout__card1 {
    padding: 50px;
    height: 100%;
    margin-right: 200px;
}


h1 {
    font-size: 50px;
}

h3 {
    color: gray;

}

.flex_layout__patenred {
    margin-top: 40px;
}
.flex_layout__check {
    float: left;
}

p {
    margin-left: 30px ;
    justify-content: center;
}

button {
    color: white;
    background-color: black;
    border-radius: 5px;
    height: 30px;
    margin-top: 30px;
}

.flex_layout__pop {
    margin-bottom: 80px;
}

.flex_layout__logos {
    display: flex;
    margin: 30px;
    gap: 30px;
}